.ourNote {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    padding-top: 5%;
    padding-left: 9%;
    color: #fff;
}

.ourNote h1 {
    font-size: 40px;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.ourNote h1 img {
    width: 50px;
    margin-right: 9px;
    cursor: pointer;
}

.ourNote button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(#9418fd, #571084);
    border: none;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    outline: none;

}

.ourNote button img {
    width: 20px;
    margin-right: 14px;
}

.input-box {
    width: 60%;
    min-height: 150px;
    margin-top: 20px;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000000;
    position: relative;
}

.input-box img {
    width: 25px;
    bottom: 15px;
    right: 15px;
    position: absolute;
    cursor: pointer;

}